.btn-blue {
background-color: #0c3291;
    color: white;
    font-size: 15px;
    padding: 15px 20px;
    border-radius: 4px;
    font-weight: bold;
    }

.btn-blue:hover {
	background-color: #072163;
	color: white;
}
